<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

		 <import resource="classpath:applicationContext-dao.xml"/>  
		 <import resource="classpath*:applicationContext-service.xml"/>
		 <import resource="classpath:applicationContext-transaction.xml"/>
		 <import resource="applicationContext-security.xml"/> 
	
	
	
	 	

	<!-- <bean id="loginService" class="com.apce.servicio.servicio.Impl.LoginServiceImpl">
		<property name="DAO">
			<ref bean="usuarioDAO" />
		</property>  
	</bean>	       -->

</beans>   
