<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>APCE Cintas de Embalaje</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			  /WEB-INF/applicationContext-main.xml    
		</param-value>  
		<description>Levanto el application context que tiene importado todos
			los otros contextos de los demas modulos
		</description>
	</context-param>  
	<!--  <context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener> -->
  
  
 	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 
	<listener> 
		<listener-class>com.apce.web.inicializacion.StartupListener</listener-class>
	</listener>
	
	
	
	<!-- LISTENERS SPRING-LISTENER LISTENERS SERVLETS -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/forms/*</url-pattern>
	</servlet-mapping>
	
	<!-- SERVLETS -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- TAGLIBS TAGLIB: SPRING TAGLIB: JSTL -->
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/tld/c-1_0.tld</taglib-location>
	</taglib>
	<!-- TAGLIBS -->  
</web-app>
